.pointerly {
    width: 15px;
    height: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0px;
    left: 0px;
    pointer-events: none;
    z-index: 9999999;

    opacity: 0;
    visibility: hidden;

    will-change: transform;
}

.pointerly {

    pointer-events: none !important;
}

.pointerly.active {
    opacity: 1;
    visibility: visible;
}

/*------------------------------------------------------*/
/* System  */

.pointerly-wrapper[data-pointerly-system="default"] * {
    cursor: default !important;
}

.pointerly-wrapper[data-pointerly-system="none"] * {
    cursor: none !important;
}

.pointerly-wrapper[data-pointerly-system="context-menu"] * {
    cursor: context-menu !important;
}

.pointerly-wrapper[data-pointerly-system="help"] * {
    cursor: help !important;
}

.pointerly-wrapper[data-pointerly-system="pointer"] * {
    cursor: pointer !important;
}

.pointerly-wrapper[data-pointerly-system="progress"] * {
    cursor: progress !important;
}

.pointerly-wrapper[data-pointerly-system="wait"] * {
    cursor: wait !important;
}

.pointerly-wrapper[data-pointerly-system="cell"] * {
    cursor: cell !important;
}

.pointerly-wrapper[data-pointerly-system="crosshair"] * {
    cursor: crosshair !important;
}

.pointerly-wrapper[data-pointerly-system="text"] * {
    cursor: text !important;
}

.pointerly-wrapper[data-pointerly-system="vertical-text"] * {
    cursor: vertical-text !important;
}

.pointerly-wrapper[data-pointerly-system="alias"] * {
    cursor: alias !important;
}

.pointerly-wrapper[data-pointerly-system="copy"] * {
    cursor: copy !important;
}

.pointerly-wrapper[data-pointerly-system="move"] * {
    cursor: move !important;
}

.pointerly-wrapper[data-pointerly-system="no-drop"] * {
    cursor: no-drop !important;
}

.pointerly-wrapper[data-pointerly-system="not-allowed"] * {
    cursor: not-allowed !important;
}

.pointerly-wrapper[data-pointerly-system="grab"] * {
    cursor: grab !important;
}

.pointerly-wrapper[data-pointerly-system="grabbing"] * {
    cursor: grabbing !important;
}

.pointerly-wrapper[data-pointerly-system="all-scroll"] * {
    cursor: all-scroll !important;
}

.pointerly-wrapper[data-pointerly-system="col-resize"] * {
    cursor: col-resize !important;
}

.pointerly-wrapper[data-pointerly-system="row-resize"] * {
    cursor: row-resize !important;
}

.pointerly-wrapper[data-pointerly-system="n-resize"] * {
    cursor: n-resize !important;
}

.pointerly-wrapper[data-pointerly-system="e-resize"] * {
    cursor: e-resize !important;
}

.pointerly-wrapper[data-pointerly-system="s-resize"] * {
    cursor: s-resize !important;
}

.pointerly-wrapper[data-pointerly-system="w-resize"] * {
    cursor: w-resize !important;
}

.pointerly-wrapper[data-pointerly-system="ne-resize"] * {
    cursor: ne-resize !important;
}

.pointerly-wrapper[data-pointerly-system="nw-resize"] * {
    cursor: nw-resize !important;
}

.pointerly-wrapper[data-pointerly-system="se-resize"] * {
    cursor: se-resize !important;
}

.pointerly-wrapper[data-pointerly-system="sw-resize"] * {
    cursor: sw-resize !important;
}

.pointerly-wrapper[data-pointerly-system="ew-resize"] * {
    cursor: ew-resize !important;
}

.pointerly-wrapper[data-pointerly-system="ns-resize"] * {
    cursor: ns-resize !important;
}

.pointerly-wrapper[data-pointerly-system="nesw-resize"] * {
    cursor: nesw-resize !important;
}

.pointerly-wrapper[data-pointerly-system="nwse-resize"] * {
    cursor: nwse-resize !important;
}

.pointerly-wrapper[data-pointerly-system="zoom-in"] * {
    cursor: zoom-in !important;
}

.pointerly-wrapper[data-pointerly-system="zoom-out"] * {
    cursor: zoom-out !important;
}

.pointerly-wrapper[data-pointerly-loaded="true"][data-pointerly-valid="true"][data-pointerly-system-cursors="false"] * {
    cursor: none !important;
}

/*------------------------------------------------------*/
/* Wrapper */

.pointerly-wrapper-cursor-types,
.pointerly-wrapper-cursor-flags {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: start;
    justify-content: start;

    position: fixed;
    top: 0px;
    left: 0px;

    will-change: transform;
}




 

.pointerly-wrapper[data-pointerly-custom="text"] .pointerly .pointerly-wrapper-cursor-types,
.pointerly-wrapper[data-pointerly-custom="text"] .pointerly .pointerly-wrapper-cursor-flags {

    align-items: center;
    justify-content: center;
}

/*------------------------------------------------------*/
/* Type */

.pointerly-wrapper-cursor-types .pointerly-type {

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    opacity: 0;

    z-index: 9999998;
}

/* Cursor Current */

.pointerly-wrapper-cursor-types .pointerly-type.current {
    opacity: 1;
}

/*------------------------------------------------------*/
/* Flag */

.pointerly-wrapper-cursor-flags {
    width: auto;
    height: auto;
}

.pointerly-wrapper-cursor-flags:has(.pointerly-flag.pointerly-flag-effect-chase) { 
    transition: transform 0.08s;
}

.pointerly-wrapper-cursor-flags .pointerly-flag {
    box-sizing: content-box;

    width: auto;
    height: auto; /* auto */

    display: flex; 

    position: absolute;

    opacity: 0;

    z-index: 9999997;
}
 
/* Default */

.pointerly-wrapper-cursor-flags {
    align-items: start;
    justify-content: start;
}

.pointerly-wrapper-cursor-flags .pointerly-flag {
    align-items: start;
    justify-content: start; 
    transform: translate(30px, 30px) rotate(0.001deg);
}

/* Top */

.pointerly-wrapper-cursor-flags:has(.pointerly-flag.pointerly-flag-pos-top) {
    align-items: center;
    justify-content: center;
}

.pointerly-wrapper-cursor-flags .pointerly-flag.pointerly-flag-pos-top {
    align-items: center;
    justify-content: center;
    transform: translate(0px, -50px) rotate(0.001deg);  
}

/* Bottom */

.pointerly-wrapper-cursor-flags:has(.pointerly-flag.pointerly-flag-pos-bottom) {
    align-items: center;
    justify-content: center;
}

.pointerly-wrapper-cursor-flags .pointerly-flag.pointerly-flag-pos-bottom {
    align-items: center;
    justify-content: center;
    transform: translate(0px, 50px) rotate(0.001deg);  
}

/* Left */

.pointerly-wrapper-cursor-flags:has(.pointerly-flag.pointerly-flag-pos-left) {
    align-items: end;
    justify-content: end; 
}

.pointerly-wrapper-cursor-flags .pointerly-flag.pointerly-flag-pos-left {
    align-items: end;
    justify-content: end;
    transform: translate(-50px, 0px) rotate(0.001deg);   
}
 
/* Right */

.pointerly-wrapper-cursor-flags:has(.pointerly-flag.pointerly-flag-pos-right) {
    align-items: start;
    justify-content: start;
}

.pointerly-wrapper-cursor-flags .pointerly-flag.pointerly-flag-pos-right {
    align-items: start;
    justify-content: start;
    transform: translate(35px, 0px) rotate(0.001deg);  
}




/* Cursor Current */

.pointerly-wrapper-cursor-flags .pointerly-flag.current {
    opacity: 1;
}